<%= form_for(incident, class: 'form-horizontal') do |f| %>
  <% if incident.errors.any? %>
    <div id="error_explanation" class="alert alert-dismissible alert-danger">
      <h2><%= pluralize(incident.errors.count, "error") %> prohibited this incident from being saved:</h2>
      
      <ul>
        <% incident.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    
    <script type="text/javascript">
      setTimeout(() => {
        $('#error_explanation').hide()
      }, 5000)
    </script>
  <% end %>
  
  <div class="row mtop10">
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-addon"><%= f.label :location %></span>
        <%= f.text_field :location, class: 'form-control', placeholder: 'Location' %>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-addon"><%= f.label :description %></span>
        <%= f.text_field :description, class: 'form-control', placeholder: 'Description' %>
      </div>
    </div>
  </div>
  
  <div class="row mtop10">
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-addon"><%= f.label :user %></span>
        <%= f.select :user, User.all.collect { |u| [ u.name, u.id ] }, { :include_blank => 'Select a User' }, { :class => 'form-control' } %>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="input-group">
          <span class="input-group-addon"><%= f.label :status %></span>
          <%= f.select :status, [['Pending', 0], ['Resolved', 1]], { :include_blank => 'Select a status' }, { :class => 'form-control' } %>
      </div>
    </div>
  </div>
  
  <div class="row mtop10">
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-addon"><%= f.label :measure %></span>
        <%= f.text_field :measure, class: 'form-control', placeholder: 'Measure' %>
      </div>
    </div>
  </div>
  
  <div class="row mtop10">
    <div class="col-md-6">
      <div class="input-group">
        <!-- Submit button to show -->
        <buttom type="submit" class='btn btn-primary' onclick="$('#submit').click()">
          <i class="fa fa-check"></i> Submit
        </buttom>
        
        <!-- hidden real one -->
        <input id="submit" type="submit" hidden="hidden">
        
        <!-- Cancel -->
        <%= link_to content_tag(
            :div,
            content_tag(:i,  nil , class: 'fa fa-close') + ' Cancel'
        ), incidents_path, class: 'btn btn-default' %>
      </div>
    </div>
  </div>
<% end %>
