<% if notice %>
  <div id="notice" class="alert alert-dismissible alert-success">
    <%= notice %>
  </div>
  
  <script type="text/javascript">
    setTimeout(() => {
      $('#notice').hide()
    }, 3000)
  </script>
<% end %>

<h1><%= @incident.description %></h1>
<%= form_for(@incident, class: 'form-horizontal') do |f| %>
  <div class="row mtop10">
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-addon"><%= f.label :location %></span>
        <%= f.text_field :location, class: 'form-control', disabled: true, placeholder: 'Location' %>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-addon"><%= f.label :description %></span>
        <%= f.text_field :description, class: 'form-control', disabled: true, placeholder: 'Description' %>
      </div>
    </div>
  </div>
  
  <div class="row mtop10">
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-addon"><%= f.label :measure %></span>
        <%= f.text_field :measure, class: 'form-control', disabled: true, placeholder: 'Measure' %>
      </div>
    </div>
  </div>
  
  <div class="row mtop10">
    <div class="col-md-6">
      <div class="input-group">
        <%= link_to content_tag(
            :div,
            content_tag(:i,  nil , class: 'fa fa-pencil') + ' Edit'
        ), edit_incident_path(@incident), class: 'btn btn-primary' %>
        
        <%= link_to content_tag(
            :div,
            content_tag(:i,  nil , class: 'fa fa-chevron-left') + ' Back'
        ), incidents_path, class: 'btn btn-default' %>
      </div>
    </div>
  </div>
<% end %>
