<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @incident.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @incident.description %>
</p>

<p>
  <strong>Measure:</strong>
  <%= @incident.measure %>
</p>

<%= link_to 'Edit', edit_incident_path(@incident) %> |
<%= link_to 'Back', incidents_path %>
