<% if notice %>
  <div id="notice" class="alert alert-dismissible alert-success">
    <%= notice %>
  </div>
  
  <script type="text/javascript">
    setTimeout(() => {
      $('#notice').hide()
    }, 3000)
  </script>
<% end %>

<h1><%= @equipment.serial%></h1>
<%= form_for(@equipment, class: 'form-horizontal') do |f| %>
  <div class="row mtop10">
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-addon"><%= f.label :model %></span>
        <%= f.text_field :model, class: 'form-control', disabled: true, placeholder: 'Model' %>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-addon"><%= f.label :description %></span>
        <%= f.text_field :description, class: 'form-control', disabled: true, placeholder: 'Description' %>
      </div>
    </div>
  </div>
  
  <div class="row mtop10">
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-addon"><%= f.label :tag %></span>
        <%= f.text_field :tag, class: 'form-control', disabled: true, placeholder: 'Tag' %>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-addon"><%= f.label :serial %></span>
        <%= f.text_field :serial, class: 'form-control', disabled: true, placeholder: 'Serial' %>
      </div>
    </div>
  </div>
  
    <div class="row mtop10">
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-addon"><%= f.label :desk %></span>
        <%= f.text_field :desk, { :class => 'form-control', :disabled => true } %>
      </div>
    </div>
    
    <% if @equipment.user %>
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-addon"><%= f.label :user %></span>
          <%= f.select :user, User.all.collect { |u| [ u.name + ' (' + u.email + ')', u.id ] }, { :include_blank => 'Select a User', :selected => [@equipment.user.id] }, { :class => 'form-control', :disabled => true } %>
        </div>
      </div>
    <% end %>
  </div>
  
  <div class="row mtop10">
    <div class="col-md-6">
      <div class="input-group">
        <%= link_to content_tag(
            :div,
            content_tag(:i,  nil , class: 'fa fa-pencil') + ' Edit'
        ), edit_equipment_path(@equipment), class: 'btn btn-primary mright10' %>
        
        <!-- Occupied -->
        <% if @equipment.user != nil %>
          <!-- BY YOU! -->
          <% if current_user.admin %>
            <%= link_to content_tag(
                :span,
                content_tag(:i,  nil , class: 'fa fa-undo') + ' Return'
            ), {:controller => 'equipment', :action => 'return_equipment', :id => @equipment.id}, class: 'btn btn-warning mright10' %>
          <% end %>
        <% end %>
        
        <%= link_to content_tag(
            :div,
            content_tag(:i,  nil , class: 'fa fa-chevron-left') + ' Back'
        ), equipment_index_path, class: 'btn btn-default' %>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="input-group pull-right">
        <% if current_user.admin %>
          <a class="btn btn-danger" href="#" title='Delete Desk' data-toggle="modal" data-target="#delete-user-modal-<%= @equipment.id %>"><i class="fa fa-trash"></i> Delete Equipment</a>
            
          <!-- Delete Modal -->
          <div class="modal fade" id="delete-user-modal-<%= @equipment.id %>" role="dialog">
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title"><span class="fa fa-exclamation-triangle"></span> Delete <%= @equipment.serial %>&nbsp;</h4>
                </div>
                <div class="modal-body">
                  <p><h4>Are you sure? This cannot be undone.</h4></p>
                </div>
                <div class="modal-footer">
                  <%= link_to content_tag(
                      :div,
                      content_tag(:span,  nil, class: 'fa fa-trash') + ' Delete'
                  ), @equipment, method: :delete, class: 'btn btn-danger' %>
                  
                  <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cancel</button>
                </div>
              </div>
              
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
