<p id="notice"><%= notice %></p>

<p>
  <strong>Model:</strong>
  <%= @equipment.model %>
</p>

<p>
  <strong>Description:</strong>
  <%= @equipment.description %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @equipment.tag %>
</p>

<p>
  <strong>Serial:</strong>
  <%= @equipment.serial %>
</p>

<%= link_to 'Edit', edit_equipment_path(@equipment) %> |
<%= link_to 'Back', equipment_index_path %>
