<%= form_for(user, class: 'form-horizontal') do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation" class="alert alert-dismissible alert-danger">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      
      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    
    <script type="text/javascript">
      setTimeout(() => {
        $('#error_explanation').hide()
      }, 5000)
    </script>
  <% end %>
  
  <div class="row mtop10">
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-addon"><%= f.label :name %></span>
        <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-addon"><%= f.label :email %></span>
        <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
      </div>
    </div>
  </div>
  
  <div class="row mtop10">
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-addon"><%= f.label :password %></span>
        <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
      </div>
    </div>
  
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-addon"><%= f.label :cpf %></span>
        <%= f.text_field :cpf, class: 'form-control', placeholder: 'Cpf' %>
      </div>
    </div>
  </div>
  
  <div class="row mtop10">
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-addon"><%= f.label :admin %></span>
        <span class="input-group-addon"><%= f.check_box :admin %></span>
      </div>
    </div>
  </div>
  
  <div class="row mtop10">
    <div class="col-md-6">
      <div class="input-group">
        <!-- Submit button to show -->
        <buttom type="submit" class='btn btn-primary' onclick="$('#submit').click()">
          <i class="fa fa-check"></i> Submit
        </buttom>
        
        <!-- hidden real one -->
        <input id="submit" type="submit" hidden="hidden">
        
        <!-- Cancel -->
        <%= link_to content_tag(
            :div,
            content_tag(:i,  nil , class: 'fa fa-close') + ' Cancel'
        ), users_path, class: 'btn btn-default' %>
      </div>
    </div>
  </div>
<% end %>
