<% if notice %>
  <div id="notice" class="alert alert-dismissible alert-success">
    <%= notice %>
  </div>
  
  <script type="text/javascript">
    setTimeout(() => {
      $('#notice').hide()
    }, 3000)
  </script>
<% end %>

<h1><%= @user.name%></h1>
<%= form_for(@user, class: 'form-horizontal') do |f| %>
  <div class="row mtop10">
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-addon"><%= f.label :name %></span>
        <%= f.text_field :name, class: 'form-control', disabled: true, placeholder: 'Name' %>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-addon"><%= f.label :cpf %></span>
        <%= f.text_field :cpf, class: 'form-control', disabled: true, placeholder: 'Cpf' %>
      </div>
    </div>
  </div>
  
  <div class="row mtop10">
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-addon"><%= f.label :email %></span>
        <%= f.email_field :email, class: 'form-control', disabled: true, placeholder: 'Email' %>
      </div>
    </div>
    
    <% if current_user.admin %>
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-addon"><%= f.label :admin %></span>
          <span class="input-group-addon"><%= f.check_box :admin, disabled: true %></span>
        </div>
      </div>
    <% end %>
  </div>
  
  <div class="row mtop10">
    <div class="col-md-6">
      <div class="input-group">
        <%= link_to content_tag(
            :div,
            content_tag(:i,  nil , class: 'fa fa-pencil') + ' Edit'
        ), edit_user_path(@user), class: 'btn btn-primary mright10' %>
        
        <% if current_user.admin %>
          <%= link_to content_tag(
              :div,
              content_tag(:i,  nil , class: 'fa fa-chevron-left') + ' Back'
          ), request.referer || users_path, class: 'btn btn-default' %>
        <% end %>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="input-group pull-right">
        <% if current_user.admin %>
          <a class="btn btn-danger" href="#" title='Delete Desk' data-toggle="modal" data-target="#delete-user-modal-<%= @user.id %>"><i class="fa fa-trash"></i> Delete User</a>
            
          <!-- Delete Modal -->
          <div class="modal fade" id="delete-user-modal-<%= @user.id %>" role="dialog">
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title"><span class="fa fa-exclamation-triangle"></span> Delete <%= @user.name %>&nbsp;</h4>
                </div>
                <div class="modal-body">
                  <p><h4>Are you sure? This cannot be undone.</h4></p>
                </div>
                <div class="modal-footer">
                  <%= link_to content_tag(
                      :div,
                      content_tag(:span,  nil, class: 'fa fa-trash') + ' Delete'
                  ), @user, method: :delete, class: 'btn btn-danger' %>
                  
                  <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cancel</button>
                </div>
              </div>
              
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>