<% if notice %>
  <div id="notice" class="alert alert-dismissible alert-success">
    <%= notice %>
  </div>
  
  <script type="text/javascript">
    setTimeout(() => {
      $('#notice').hide()
    }, 3000)
  </script>
<% end %>

<h1><%= @user.name%></h1>
<%= form_for(@user, class: 'form-horizontal') do |f| %>
  <div class="row mtop10">
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-addon"><%= f.label :name %></span>
        <%= f.text_field :name, class: 'form-control', disabled: true, placeholder: 'Name' %>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-addon"><%= f.label :cpf %></span>
        <%= f.text_field :cpf, class: 'form-control', disabled: true, placeholder: 'Cpf' %>
      </div>
    </div>
  </div>
  
  <div class="row mtop10">
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-addon"><%= f.label :email %></span>
        <%= f.email_field :email, class: 'form-control', disabled: true, placeholder: 'Email' %>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-addon"><%= f.label :admin %></span>
        <span class="input-group-addon"><%= f.check_box :admin, disabled: true %></span>
      </div>
    </div>
  </div>
  
  <div class="row mtop10">
    <div class="col-md-6">
      <div class="input-group">
        <%= link_to content_tag(
            :div,
            content_tag(:i,  nil , class: 'fa fa-pencil') + ' Edit'
        ), edit_user_path(@user), class: 'btn btn-primary' %>
        <%= link_to content_tag(
            :div,
            content_tag(:i,  nil , class: 'fa fa-desktop') + ' Accesses'
        ), edit_user_path(@user), class: 'btn btn-success' %>
        <%= link_to content_tag(
            :div,
            content_tag(:i,  nil , class: 'fa fa-chevron-left') + ' Back'
        ), users_path, class: 'btn btn-default' %>
      </div>
    </div>
  </div>
<% end %>