<% if notice %>
  <div id="notice" class="alert alert-dismissible alert-success">
    <%= notice %>
  </div>
  
  <script type="text/javascript">
    setTimeout(() => {
      $('#notice').hide()
    }, 3000)
  </script>
<% end %>

<div>
  <%= link_to content_tag(
            :div,
            content_tag(:i,  nil , class: 'fa fa-plus') + ' New'
    ), new_desk_path, title: 'Create new', class: 'btn btn-md btn-primary pull-left mright10' %>
  <h1>Desks</h1>
  
  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a data-toggle="tab" href="#d_all">All</a></li>
    <li role="presentation"><a data-toggle="tab" href="#d_free">Free</a></li>
    <li role="presentation"><a data-toggle="tab" href="#d_in_use">In Use</a></li>
    <li role="presentation"><a data-toggle="tab" href="#d_blocked">Blocked</a></li>
  </ul>
</div>

<div class="tab-content">
  <div class="tab-pane active" id="d_all">
    <div class="mtop30">
      <% if !@desks.empty? %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Status</th>
              <th>&nbsp;</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
        
          <tbody>
            <% @desks.each do |desk| %>
              <tr>
                <td class="col-sm-6 col-md-6 col-lg-6"><%= link_to desk.name, desk, title: 'Show Desk' %></td>
                <% if desk.status == 0 %>
                  <td class="col-sm-6 col-md-6 col-lg-6"><%= link_to 'Free', desk, title: 'Show Desk' %></td>
                <% end %>
                <% if desk.status == 1 %>
                  <td class="col-sm-6 col-md-6 col-lg-6"><%= link_to 'In Use', desk, title: 'Show Desk' %></td>
                <% end %>
                <% if desk.status == 2 %>
                  <td class="col-sm-6 col-md-6 col-lg-6"><%= link_to 'Blocked', desk, title: 'Show Desk' %></td>
                <% end %>
                <td class="col-sm-1 col-md-1 col-lg-1"><%= link_to content_tag(:i,  nil, class: 'fa fa-pencil'), edit_desk_path(desk), title: 'Edit Desk'  %></td>
                <td class="col-sm-1 col-md-1 col-lg-1">
                  <a href="#" title='Delete Desk' data-toggle="modal" data-target="#delete-user-modal-<%= desk.id %>"><i class="fa fa-trash"></i></a>
                  
                  <!-- Modal -->
                  <div class="modal fade" id="delete-user-modal-<%= desk.id %>" role="dialog">
                    <div class="modal-dialog">
                    
                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title"><span class="fa fa-exclamation-triangle"></span> Delete <%= desk.name %>&nbsp;</h4>
                        </div>
                        <div class="modal-body">
                          <p><h4>Are you sure? This cannot be undone.</h4></p>
                        </div>
                        <div class="modal-footer">
                          <%= link_to content_tag(
                              :div,
                              content_tag(:span,  nil, class: 'fa fa-trash') + ' Delete'
                          ), desk, method: :delete, class: 'btn btn-danger' %>
                          
                          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cancel</button>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        
        <%= will_paginate @desks, renderer: BootstrapPagination::Rails %>
      <% else %>
        <div class="alert alert-dismissible alert-info">
          Nothing created yet.
        </div>
      <% end %>
    </div>
  </div>
  
  <div class="tab-pane" id="d_free">
    <% @d = Desk.where(:status => 0).paginate(:page => params[:page], :per_page => 25) %>
    
    <div class="mtop30">
      <% if !@d.empty? %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Status</th>
              <th>&nbsp;</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
        
          <tbody>
            <% @d.each do |desk| %>
              <tr>
                <td class="col-sm-6 col-md-6 col-lg-6"><%= link_to desk.name, desk, title: 'Show Desk' %></td>
                <% if desk.status == 0 %>
                  <td class="col-sm-6 col-md-6 col-lg-6"><%= link_to 'Free', desk, title: 'Show Desk' %></td>
                <% end %>
                <% if desk.status == 1 %>
                  <td class="col-sm-6 col-md-6 col-lg-6"><%= link_to 'In Use', desk, title: 'Show Desk' %></td>
                <% end %>
                <% if desk.status == 2 %>
                  <td class="col-sm-6 col-md-6 col-lg-6"><%= link_to 'Blocked', desk, title: 'Show Desk' %></td>
                <% end %>
                <td class="col-sm-1 col-md-1 col-lg-1"><%= link_to content_tag(:i,  nil, class: 'fa fa-pencil'), edit_desk_path(desk), title: 'Edit Desk'  %></td>
                <td class="col-sm-1 col-md-1 col-lg-1">
                  <a href="#" title='Delete Desk' data-toggle="modal" data-target="#delete-user-modal-<%= desk.id %>"><i class="fa fa-trash"></i></a>
                  
                  <!-- Modal -->
                  <div class="modal fade" id="delete-user-modal-<%= desk.id %>" role="dialog">
                    <div class="modal-dialog">
                    
                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title"><span class="fa fa-exclamation-triangle"></span> Delete <%= desk.name %>&nbsp;</h4>
                        </div>
                        <div class="modal-body">
                          <p><h4>Are you sure? This cannot be undone.</h4></p>
                        </div>
                        <div class="modal-footer">
                          <%= link_to content_tag(
                              :div,
                              content_tag(:span,  nil, class: 'fa fa-trash') + ' Delete'
                          ), desk, method: :delete, class: 'btn btn-danger' %>
                          
                          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cancel</button>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        
        <%= will_paginate @d, renderer: BootstrapPagination::Rails %>
      <% else %>
        <div class="alert alert-dismissible alert-info">
          Nothing created yet.
        </div>
      <% end %>
    </div>
  </div>
  
  <div class="tab-pane" id="d_in_use">
    <% @d = Desk.where(:status => 1).paginate(:page => params[:page], :per_page => 25) %>
    
    <div class="mtop30">
      <% if !@d.empty? %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Status</th>
              <th>&nbsp;</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
        
          <tbody>
            <% @d.each do |desk| %>
              <tr>
                <td class="col-sm-6 col-md-6 col-lg-6"><%= link_to desk.name, desk, title: 'Show Desk' %></td>
                <% if desk.status == 0 %>
                  <td class="col-sm-6 col-md-6 col-lg-6"><%= link_to 'Free', desk, title: 'Show Desk' %></td>
                <% end %>
                <% if desk.status == 1 %>
                  <td class="col-sm-6 col-md-6 col-lg-6"><%= link_to 'In Use', desk, title: 'Show Desk' %></td>
                <% end %>
                <% if desk.status == 2 %>
                  <td class="col-sm-6 col-md-6 col-lg-6"><%= link_to 'Blocked', desk, title: 'Show Desk' %></td>
                <% end %>
                <td class="col-sm-1 col-md-1 col-lg-1"><%= link_to content_tag(:i,  nil, class: 'fa fa-pencil'), edit_desk_path(desk), title: 'Edit Desk'  %></td>
                <td class="col-sm-1 col-md-1 col-lg-1">
                  <a href="#" title='Delete Desk' data-toggle="modal" data-target="#delete-user-modal-<%= desk.id %>"><i class="fa fa-trash"></i></a>
                  
                  <!-- Modal -->
                  <div class="modal fade" id="delete-user-modal-<%= desk.id %>" role="dialog">
                    <div class="modal-dialog">
                    
                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title"><span class="fa fa-exclamation-triangle"></span> Delete <%= desk.name %>&nbsp;</h4>
                        </div>
                        <div class="modal-body">
                          <p><h4>Are you sure? This cannot be undone.</h4></p>
                        </div>
                        <div class="modal-footer">
                          <%= link_to content_tag(
                              :div,
                              content_tag(:span,  nil, class: 'fa fa-trash') + ' Delete'
                          ), desk, method: :delete, class: 'btn btn-danger' %>
                          
                          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cancel</button>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        
        <%= will_paginate @d, renderer: BootstrapPagination::Rails %>
      <% else %>
        <div class="alert alert-dismissible alert-info">
          Nothing created yet.
        </div>
      <% end %>
    </div>
  </div>
  
  <div class="tab-pane" id="d_blocked">
    <% @d = Desk.where(:status => 2).paginate(:page => params[:page], :per_page => 25) %>
    
    <div class="mtop30">
      <% if !@d.empty? %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Status</th>
              <th>&nbsp;</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
        
          <tbody>
            <% @d.each do |desk| %>
              <tr>
                <td class="col-sm-6 col-md-6 col-lg-6"><%= link_to desk.name, desk, title: 'Show Desk' %></td>
                <% if desk.status == 0 %>
                  <td class="col-sm-6 col-md-6 col-lg-6"><%= link_to 'Free', desk, title: 'Show Desk' %></td>
                <% end %>
                <% if desk.status == 1 %>
                  <td class="col-sm-6 col-md-6 col-lg-6"><%= link_to 'In Use', desk, title: 'Show Desk' %></td>
                <% end %>
                <% if desk.status == 2 %>
                  <td class="col-sm-6 col-md-6 col-lg-6"><%= link_to 'Blocked', desk, title: 'Show Desk' %></td>
                <% end %>
                <td class="col-sm-1 col-md-1 col-lg-1"><%= link_to content_tag(:i,  nil, class: 'fa fa-pencil'), edit_desk_path(desk), title: 'Edit Desk'  %></td>
                <td class="col-sm-1 col-md-1 col-lg-1">
                  <a href="#" title='Delete Desk' data-toggle="modal" data-target="#delete-user-modal-<%= desk.id %>"><i class="fa fa-trash"></i></a>
                  
                  <!-- Modal -->
                  <div class="modal fade" id="delete-user-modal-<%= desk.id %>" role="dialog">
                    <div class="modal-dialog">
                    
                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title"><span class="fa fa-exclamation-triangle"></span> Delete <%= desk.name %>&nbsp;</h4>
                        </div>
                        <div class="modal-body">
                          <p><h4>Are you sure? This cannot be undone.</h4></p>
                        </div>
                        <div class="modal-footer">
                          <%= link_to content_tag(
                              :div,
                              content_tag(:span,  nil, class: 'fa fa-trash') + ' Delete'
                          ), desk, method: :delete, class: 'btn btn-danger' %>
                          
                          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cancel</button>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        
        <%= will_paginate @d, renderer: BootstrapPagination::Rails %>
      <% else %>
        <div class="alert alert-dismissible alert-info">
          Nothing created yet.
        </div>
      <% end %>
    </div>
  </div>
</div>
