<% if notice %>
  <div id="notice" class="alert alert-dismissible alert-success">
    <%= notice %>
  </div>
  
  <script type="text/javascript">
    setTimeout(() => {
      $('#notice').hide()
    }, 3000)
  </script>
<% end %>

<h1><%= @desk.name%></h1>
<%= form_for(@desk, class: 'form-horizontal') do |f| %>
  <div class="row mtop10">
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-addon"><%= f.label :name %></span>
        <%= f.text_field :name, class: 'form-control', disabled: true, placeholder: 'Name' %>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-addon"><%= f.label :status %></span>
        <%= f.text_field :status, class: 'form-control', disabled: true, placeholder: 'Status' %>
      </div>
    </div>
  </div>
  
  <div class="row mtop10">
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-addon"><%= f.label :lab %></span>
        <%= f.text_field :lab, { :class => 'form-control', :disabled => true } %>
      </div>
    </div>
  </div>
  
  <div class="row mtop10">
    <div class="col-md-12">
      <h3>Equipment</h3>
      <% @equipment = Equipment.where(desk: Desk.find(@desk.id)).find_each(batch_size: 25) %>
      <% if !@equipment.none? %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Model</th>
              <th>Description</th>
              <th>Tag</th>
              <th>Serial</th>
            </tr>
          </thead>
        
          <tbody>
            <% @equipment.each do |equipment| %>
              <% if current_user.admin %>
                <tr>
                  <td class="col-sm-3 col-md-3 col-lg-3"><%= link_to equipment.model, equipment, title: 'Show Equipment' %></td>
                  <td class="col-sm-5 col-md-5 col-lg-5"><%= link_to equipment.description, equipment, title: 'Show Equipment' %></td>
                  <td class="col-sm-2 col-md-6 col-lg-2"><%= link_to equipment.tag, equipment, title: 'Show Equipment' %></td>
                  <td class="col-sm-2 col-md-4 col-lg-2"><%= link_to equipment.serial, equipment, title: 'Show Equipment' %></td>
                </tr>
              <% else %>
                <tr>
                  <td class="col-sm-3 col-md-3 col-lg-3"><%= equipment.model %></td>
                  <td class="col-sm-5 col-md-5 col-lg-5"><%= equipment.description %></td>
                  <td class="col-sm-2 col-md-6 col-lg-2"><%= equipment.tag %></td>
                  <td class="col-sm-2 col-md-4 col-lg-2"><%= equipment.serial %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <div class="alert alert-dismissible alert-info">
          This Desk have no Equipment yet.
        </div>
      <% end %>
    </div>
  </div>
  
  <div class="row mtop10">
    <div class="col-md-6">
      <div class="input-group">
        <% if current_user.admin %>
          <%= link_to content_tag(
              :div,
              content_tag(:i,  nil , class: 'fa fa-pencil') + ' Edit'
          ), edit_desk_path(@desk), class: 'btn btn-primary' %>
          
          <% if @desk.status == 0 %>
            <%= link_to content_tag(
                :div,
                content_tag(:i,  nil , class: 'fa fa-sign-in') + ' Access'
            ), {:controller => 'desks', :action => 'access', :id => @desk.id}, class: 'btn btn-success' %>
          <% end %>
        <% else %>
          <% if @desk.status == 0 %>
            <%= link_to content_tag(
                :div,
                content_tag(:i,  nil , class: 'fa fa-sign-in') + ' Access'
            ), {:controller => 'desks', :action => 'access', :id => @desk.id}, class: 'btn btn-success' %>
          <% end %>
        <% end %>
        
        <!-- Occupied -->
        <% if @desk.status == 1 %>
          <!-- BY YOU! -->
          <% if Access.find_by(desk_id: @desk.id, user_id: current_user.id) %>
            <%= link_to content_tag(
                :span,
                content_tag(:i,  nil , class: 'fa fa-sign-out') + ' Release'
            ), {:controller => 'desks', :action => 'release', :id => @desk.id}, class: 'btn btn-warning' %>
          <% end %>
        <% end %>
        
        <% if current_user.admin %>
          <%= link_to content_tag(
              :div,
              content_tag(:i,  nil , class: 'fa fa-chevron-left') + ' Back'
          ), desks_path, class: 'btn btn-default' %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
