<% if !Lab.all.empty? %>
  <ul class="nav nav-tabs">
    <% Lab.all.each.with_index do |l, index| %>
      <li role="presentation" <% if index == 0 %> class="active" <% end %>><a data-toggle="tab" href="#lab_<%= l.id %>"><%= l.name %></a></li>
    <% end %>
  </ul>
  
  <div class="tab-content">
    <% Lab.all.each.with_index do |l, index| %>
      <div class="tab-pane <% if index == 0 %> active <% end %>" id="lab_<%= l.id %>">
        <div class="row mtop30">
          <% l.desks.all.each.with_index do |d, index| %>
            <div class="col-sm-4 col-md-3">
              <div class="thumbnail <% if d.status == 0 %> alert-success <% else if d.status == 1 %> alert-danger <% end end %>">
                <div class="caption centered">
                  <h3><%= d.name %></h3>
                  <p>
                    <!-- Free -->
                    <% if d.status == 0 %>
                      <%= link_to content_tag(
                          :span,
                          content_tag(:i,  nil , class: 'fa fa-key') + ' Access'
                      ), d, class: 'btn btn-default' %>
                    <% else %>
                      <!-- In use -->
                      <% if d.status == 1 %>
                        <button class="btn btn-default" disabled><span class="fa fa-key"></span> In Use</button>
                      <% else %>
                        <!-- Blocked -->
                        <button class="btn btn-default" disabled><span class="fa fa-key"></span> Blocked</button>
                      <% end %>
                    <% end %>
                  </p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="alert alert-dismissible alert-info">
    Nothing to show.
  </div>
<% end %>