<!DOCTYPE html>
<html>
  <head>
    <!-- App Title -->
    <title>Smartlab</title>
    <%= csrf_meta_tags %>

    <!-- Global Assets -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <!-- Navbar -->
      <% if (params[:controller] != 'devise/sessions') %>
        <%= render partial: 'layouts/navbar' %>
      <% end %>
      
      <!-- Errors -->
      <% if alert %>
        <div id="alert" class="alert alert-dismissible alert-danger">
          <%= alert %>
        </div>
        
        <script type="text/javascript">
          setTimeout(() => {
            $('#alert').hide()
          }, 3000)
        </script>
      <% end %>
    
      <!-- Body -->
      
      <!-- Home for all -->
      <% if (params[:controller] == 'home') %>
        <%= yield %>
      <% else %>
        <!-- Signed in ? -->
        <% if user_signed_in? %>
          <% if current_user.admin %>
            <!-- Admin can see everything -->
            <%= yield %>
          <% else %>
            <!-- User can see only user related routes -->
            <% if (((params[:controller] == 'users') || (params[:controller] == 'desks')) && (params.has_key?(:id))) %>
              <%= yield %>
            <% else %>
              <!-- Or will get a 403 -->
              <%= render partial: 'home/forbidden' %>
            <% end %>
          <% end %>
        <% else %>
          <!-- Not signed in (Login page) -->
          <%= yield %>
        <% end %>
      <% end %>
    </div>
  </body>
</html>
