<!DOCTYPE html>
<html>
  <head>
    <!-- App Title -->
    <title>Smartlab</title>
    <%= csrf_meta_tags %>

    <!-- Global Assets -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <!-- Navbar -->
      <% if params[:controller] != 'login' %>
        <%= render partial: 'layouts/navbar' %>
      <% end %>
    
      <!-- Body -->
      <%= yield %>
    </div>
  </body>
</html>
